

.Signupmaindiv{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
align-items:center;
    
}
.Signupmaindiv2{
   
    padding:4rem 2rem;

  width:80vw;
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius:1rem;
  display:flex;
  flex-wrap: wrap;

}
.Signupmaindiv2 > *{
    flex-basis: 50%;
}
.SignupSubdiv1{
    /* border: 2px solid rgb(67, 150, 188); */
    display:flex;
    align-items: center;
    justify-content: center;
}
.SignupSubdiv2{
    /* border: 2px solid rgb(71, 132, 160); */
    display:flex;
    justify-content: center;
    align-items: center;
}